In [13]:
import pandas as pd

df = pd.df = pd.read_csv("loan_payments.csv")

In [41]:
from transform_data import DataTransform

transformer = DataTransform(df)
transformer.timedelta_cols()
transformer.datetime_cols()
transformer.categorical_cols()
df_transformed_data = transformer.get_dataframe()
print(df_transformed_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  timedelta64[ns]
 23  mths_since_last_record       6181 non-null   timedelta64[ns]
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(5), datetime64[ns](5), float64(18), int64(8), object(5), timedelta64[ns](2)
memory usage: 16.0+ MB
None

In [42]:
from transform_data import DataFrameInfo

describing = DataFrameInfo(df)
describing.describe()
describing.statistical_values()
describing.distinct_values()
describing.shape()
describing.null_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  timedelta64[ns]
 23  mths_since_last_record       6181 non-null   timedelta64[ns]
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(5), datetime64[ns](5), float64(18), int64(8), object(5), timedelta64[ns](2)
memory usage: 16.0+ MB
None
Column: id
  Median: 7084590.0
  Standard Deviation: 9571361.647371648
  Mean: 7621797.476277406
Column: member_id
  Median: 8709873.0
  Standard Deviation: 10312806.88209263
  Mean: 8655349.927993214
Column: loan_amount
  Median: 12000.0
  Standard Deviation: 8082.1967092129225
  Mean: 13333.076100385388
Column: funded_amount
  Median: 12000.0
  Standard Deviation: 8019.017599340406
  Mean: 13229.50911682024
Column: funded_amount_inv
  Median: 11300.0
  Standard Deviation: 8099.473527262757
  Mean: 12952.622979347045
Column: int_rate
  Median: 13.16
  Standard Deviation: 4.392892583652243
  Mean: 13.507328482328484
Column: instalment
  Median: 347.15
  Standard Deviation: 238.9200120419481
  Mean: 400.0139534583541
Column: annual_inc
  Median: 61000.0
  Standard Deviation: 51589.33957740021
  Mean: 72220.84824897199
Column: dti
  Median: 15.6
  Standard Deviation: 7.62312416566219
  Mean: 15.867087274805924
Column: delinq_2yrs
  Median: 0.0
  Standard Deviation: 0.7067062402321652
  Mean: 0.24179897106820822
Column: inq_last_6mths
  Median: 1.0
  Standard Deviation: 1.2614210247365865
  Mean: 0.8938430049233833
Column: mths_since_last_delinq
  Median: 0 days 00:00:00.000000031
  Standard Deviation: 0 days 00:00:00.000000021
  Mean: 0 days 00:00:00.000000034
Column: mths_since_last_record
  Median: 0 days 00:00:00.000000087
  Standard Deviation: 0 days 00:00:00.000000036
  Mean: 0 days 00:00:00.000000074
Column: open_accounts
  Median: 10.0
  Standard Deviation: 4.79716893511301
  Mean: 10.559808965351921
Column: total_accounts
  Median: 23.0
  Standard Deviation: 11.587025005076546
  Mean: 24.168206376426767
Column: out_prncp
  Median: 0.0
  Standard Deviation: 5154.893645954729
  Mean: 2753.964171968062
Column: out_prncp_inv
  Median: 0.0
  Standard Deviation: 5153.043643343884
  Mean: 2752.568146632
Column: total_payment
  Median: 10113.25
  Standard Deviation: 8391.04384502492
  Mean: 12079.208479725326
Column: total_payment_inv
  Median: 9835.83
  Standard Deviation: 8363.508506450758
  Mean: 11788.946617801626
Column: total_rec_prncp
  Median: 7644.92
  Standard Deviation: 6958.124264022989
  Mean: 9407.048588998912
Column: total_rec_int
  Median: 1734.64
  Standard Deviation: 2581.6573448325844
  Mean: 2577.757100551345
Column: total_rec_late_fee
  Median: 0.0
  Standard Deviation: 6.215791516252129
  Mean: 0.9015118583238849
Column: recoveries
  Median: 0.0
  Standard Deviation: 630.8436360656818
  Mean: 93.5012878902468
Column: collection_recovery_fee
  Median: 0.0
  Standard Deviation: 120.1939498009438
  Mean: 10.859057057774903
Column: last_payment_amount
  Median: 562.67
  Standard Deviation: 5323.801674662797
  Mean: 3130.706392653648
Column: collections_12_mths_ex_med
  Median: 0.0
  Standard Deviation: 0.07099014577140687
  Mean: 0.004208194905869324
Column: mths_since_last_major_derog
  Median: 42.0
  Standard Deviation: 21.052360096387357
  Mean: 42.25363381784238
Column: policy_code
  Median: 1.0
  Standard Deviation: 0.0
  Mean: 1.0
grade has: 7 values
home_ownership has: 5 values
verification_status has: 3 values
loan_status has: 9 values
purpose has: 14 values
Total number of rows: 54231
Total number of columns: 43
                             Null Count  Null Percentage
funded_amount                      3007         5.544799
term                               4772         8.799395
int_rate                           5169         9.531449
employment_length                  2118         3.905515
mths_since_last_delinq            31002        57.166565
mths_since_last_record            48050        88.602460
last_payment_date                    73         0.134609
next_payment_date                 32608        60.127971
last_credit_pull_date                 7         0.012908
collections_12_mths_ex_med           51         0.094042
mths_since_last_major_derog       46732        86.172116

In [43]:
from transform_data import Plotter

plotting = Plotter(df)
plotting.remove_high_null_columns()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          54231 non-null  int64
 1   member_id                   54231 non-null  int64
 2   loan_amount                 54231 non-null  int64
 3   funded_amount               51224 non-null  float64
 4   funded_amount_inv           54231 non-null  float64
 5   term                        49459 non-null  object
 6   int_rate                    49062 non-null  float64
 7   instalment                  54231 non-null  float64
 8   grade                       54231 non-null  category
 9   sub_grade                   54231 non-null  object
 10  employment_length           52113 non-null  object
 11  home_ownership              54231 non-null  category
 12  annual_inc                  54231 non-null  float64
 13  verification_status         54231 non-null  category
 14  issue_date                  54231 non-null  datetime64[ns]
 15  loan_status                 54231 non-null  category
 16  payment_plan                54231 non-null  object
 17  purpose                     54231 non-null  category
 18  dti                         54231 non-null  float64
 19  delinq_2yrs                 54231 non-null  int64
 20  earliest_credit_line        54231 non-null  datetime64[ns]
 21  inq_last_6mths              54231 non-null  int64
 22  open_accounts               54231 non-null  int64
 23  total_accounts              54231 non-null  int64
 24  out_prncp                   54231 non-null  float64
 25  out_prncp_inv               54231 non-null  float64
 26  total_payment               54231 non-null  float64
 27  total_payment_inv           54231 non-null  float64
 28  total_rec_prncp             54231 non-null  float64
 29  total_rec_int               54231 non-null  float64
 30  total_rec_late_fee          54231 non-null  float64
 31  recoveries                  54231 non-null  float64
 32  collection_recovery_fee     54231 non-null  float64
 33  last_payment_date           54158 non-null  datetime64[ns]
 34  last_payment_amount         54231 non-null  float64
 35  last_credit_pull_date       54224 non-null  datetime64[ns]
 36  collections_12_mths_ex_med  54180 non-null  float64
 37  policy_code                 54231 non-null  int64
 38  application_type            54231 non-null  object
dtypes: category(5), datetime64[ns](4), float64(17), int64(8), object(5)
memory usage: 14.3+ MB
None